<nav class="navbar navbar-expand-lg p-3" style="background: #3E5879;">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/"
       style="font-size: 1.5rem; font-weight: 500; text-transform: uppercase;">
      <i class="bi bi-bank2"></i>  E-bank
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white position-relative px-4" routerLink="/"
             style="transition: all 0.3s;"
             onmouseover="this.style.transform='translateY(-3px)';this.style.color='#2196f3';"
             onmouseout="this.style.transform='translateY(0)';this.style.color='#fff';">
            <i class="bi bi-house me-2"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative px-4" routerLink="/accounts"
             style="transition: all 0.3s;"
             onmouseover="this.style.transform='translateY(-3px)';this.style.color='#ff4081';"
             onmouseout="this.style.transform='translateY(0)';this.style.color='#fff';">
         <i class="bi bi-wallet2 me-2"></i>Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative px-4" routerLink="/customers"
             style="transition: all 0.3s;"
             onmouseover="this.style.transform='translateY(-3px)';this.style.color='#4caf50';"
             onmouseout="this.style.transform='translateY(0)';this.style.color='#fff';">
            <i class="bi bi-people me-2"></i>Custormers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative px-4" routerLink="/"
             style="transition: all 0.3s;"
             onmouseover="this.style.transform='translateY(-3px)';this.style.color='#4caf50';"
             onmouseout="this.style.transform='translateY(0)';this.style.color='#fff';">
            <i class="bi bi-cash me-2"></i>Transactions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative px-4" routerLink="/"
             style="transition: all 0.3s;"
             onmouseover="this.style.transform='translateY(-3px)';this.style.color='#4caf50';"
             onmouseout="this.style.transform='translateY(0)';this.style.color='#fff';">
            <i class="bi bi-robot me-2"></i>ChatBot
          </a>
        </li>
      </ul>
    </div>
  </div>
 </nav>

